<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF8T0zlVedXkzxNT0Ffj-3G6YW_bOokeE</string>
	<key>GCM_SENDER_ID</key>
	<string>53340493475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurlan.ustaz.flutter</string>
	<key>PROJECT_ID</key>
	<string>nurlanustazdev0</string>
	<key>STORAGE_BUCKET</key>
	<string>nurlanustazdev0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53340493475:ios:12ff761efdd0b20bf1d116</string>
</dict>
</plist>