<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmeow6oyX2cWv1OX6oj9NiEDBKmvKdXIw</string>
	<key>GCM_SENDER_ID</key>
	<string>280448489679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurlanustaz.app</string>
	<key>PROJECT_ID</key>
	<string>nurlanustazanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>nurlanustazanalytics.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280448489679:ios:cca1f0a70905dc78d7bfba</string>
</dict>
</plist>